body {
    padding: 0px;
    margin: 0px;
    padding-left: 50px;
    overflow-x: hidden;
    background-color: lightcoral;
}
img {
    max-width: 100%;
}
nav {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 40px;
    /* border: 5px solid black;     */
}

iframe {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
}